/*Fonts imported from Google Fonts (https://fonts.google.com/)*/
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Schoolbell&display=swap');

/* Body element styling */
* {
    margin: 0;
    padding: 0;
    border: none;    
}   
/*Style the body*/ 
body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/*Style the heading*/
h1 {
    font-family: "Finger Paint", cursive;
    font-size: 300%;
    text-align: center;
}    
h2, h3, h4{
    font-family: Schoolbell, cursive;
    color: black;   
    text-align: center; 
    font-size: 150%;
}
/*Style the images of the scores*/
img{
    display: inline;
    height: 3rem;
}
.face {
    display: inline;
    float: right;  
}
/*Style the score's numbers*/
.face > span {
    display: block;
    font-family: "Finger Paint", cursive;
    font-size: 200%;
    text-align: center;
}
/*Style the Input Board*/
#input-box {
    background-image: url(../images/input-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
    height: 20rem;
    float: left;
    margin-left: 3rem;
    padding: 70px;  
}
/*Style the contents in the Input Board*/
#input-box > h2 {
    font-size: 180%;
   padding-top: 1.5rem; 
}
#input-box > h3 {
    padding: 40px; 
    font-size: 200%;
 }
 #input-box > p {
    font-family: Schoolbell, cursive;
    padding: 1rem 3rem; 
    font-size: 110%;
 }
 /*Style the hangman div*/
#theman {
    background-image: url(../images/img0.png);
    width: 38%;
    height: 25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    display: inline-block;
    margin-top: 2rem;
}
/*Style the div containing the secret word's letters*/
#boxes-area {
    padding-top: 50px;
    display: block;
    text-align: center;
}
/*Style the div containing each letter*/
.letter-container {
    width: 50px;
    height: 50px;
    background-image: url(../images/space.png);
    background-size: contain;
    margin: 2px;
    display: inline-block;
    text-align: center;
}
/*Style the text of the secret word's letter*/
.word-letters {
    visibility: hidden;
    text-transform: uppercase;
}
/*Style the div containig the final message and play again button*/
#last-window {
    display: none;
    width: 35%;
    height: 29rem;
    float: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/piece.png);
    text-align: center;
}
#final-message {
    text-align: center;
    margin-right: 10px;
    padding-top: 70px;
}
/*Style the final message contents*/
#final-message > h3 {
    padding: 20px 50px 0 40px;
}
#final-message > h4 {
    font-family: 'Times New Roman', Times, serif;
}
#final-message > p {
    padding : 10px 70px 20px 40px;
    font-family: 'Times New Roman', Times, serif;    
}
/*Style the play again button*/
#restart {
    height: 12%;
    width: 40%;
    background-image: url(../images/rubber.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    font-family: 'Finger Paint';
    text-transform: uppercase;
    font-size: inherit;
}

/*Media queries*/
/* Responsive */
@media screen and (max-width: 1100px) {
    #input-box {
        width: 20%;
        padding: 5em;  
    }
    /*Style the contents in the Input Board*/
    #input-box > h2 {
        font-size: 1.5em;
       padding-top: 0px; 
    }
    #input-box > h3 {
        padding: 20px; 
        font-size: 150%;
    }
     #input-box > p {
        padding: 0px; 
        font-size: 1em;
     }
    }
@media screen and (max-width: 900px) {
    #input-box {
        padding: 3em;  
        margin-top: 15%;        
    }
        /*Style the contents in the Input Board*/
    #input-box > h2 {
        font-size: 1em;
    }
    #input-box > h3 {
        font-size: 1em;
    } 
    #input-box > p {
         font-size: 0.7em;
    }
}
@media screen and (max-width: 650px) {
    #input-box {
        margin-left: 0px;          
    }
    #theman {
        width: 50%;
        position: absolute;   
    }
    /*Style the div containing the secret word's letters*/
    #boxes-area {
        position: absolute;
        display: inline-block;
        margin-top: 70%;
    }
    /*Style the div containing each letter*/
    .letter-container {
        width: 2em;
        height: 2em;
    }
    /*Style the contents in the Input Board*/
    #input-box > h2 {
        font-size: 80%;
    }
              
    #input-box > p {
        font-size: xx-small;
    }
    /*Style the images of the scores*/
    img{
        height: 2rem;
    }
    /*Style the score's numbers*/
    .face > span {
        font-size: 100%;
}
}
