/*Fonts imported from Google Fonts (https://fonts.google.com/)*/
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Schoolbell&display=swap');

/* Body element styling */
* {
    margin: 0;
    padding: 0;
    border: none;    
}   
body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Finger Paint", cursive;
    font-size: 300%;
    text-align: center;
}    
h2, h3, h4{
    font-family: Schoolbell, cursive;
    color: black;   
    text-align: center; 
    font-size: 150%;
}

img{
    display: inline;
    height: 3rem;
}
.face {
    display: inline;
    float: right;  
}
.face > span {
    display: block;
    font-family: "Finger Paint", cursive;
    font-size: 200%;
    text-align: center;
}

#input-box {
    background-image: url(../images/input-background.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
    height: 20rem;
    float: left;
    margin: 3rem 0 0 3rem;
    padding: 70px;  
}
#input-box > h2 {
    font-size: 180%;
   padding-top: 1.5rem; 
}
#input-box > h3 {
    padding: 40px; 
    font-size: 200%;
 }
 #input-box > p {
    font-family: Schoolbell, cursive;
    padding: 1rem 3rem; 
    font-size: 110%;
 }
 
#theman {
    background-image: url(../images/img0.png);
    width: 38%;
    height: 25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
    display: inline-block;
    margin-top: 2rem;
}
#last-window {
    display: none;
    width: 35%;
    height: 29rem;
    float: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: "url(assets/images/piece.png)";
}
#final-message {
    text-align: center;
    margin-right: 10px;
    padding-top: 70px;
}
#final-message > h3 {
    padding: 20px 50px 0 40px;
}
#final-message > h4 {
    font-family: 'Times New Roman', Times, serif;
}
#final-message > p {
    padding : 10px 70px 20px 40px;
    font-family: 'Times New Roman', Times, serif;    
}
#restart {
    height: 50px;
    width: 80%;
    background-image: url(../images/rubber.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    padding-top: 15px;
   
}
#boxes-area {
    padding-top: 50px;
    display: block;
    text-align: center;
}
.letter-container {
    width: 50px;
    height: 50px;
    background-image: url(../images/space.png);
    background-size: contain;
    margin: 2px;
    display: inline-block;
    text-align: center;
}
.word-letters {
    visibility: hidden;
    text-transform: uppercase;
}


